<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Cupcakes</h1>
    <button class= 'btn'>show all our cupcakes</button>
    <ul class='cupcakes'>
    </ul>
    <!-- form -->
    <h3>Add a cupcake</h3>
    <form action="" class='form'>
        <label for="">flavor</label>
        <input type="text" placeholder="flavor" class='flavor'>
        <label for="">size</label>
        <input type="text" placeholder="size"  class = 'size'>
        <label for="">rating</label>
        <input type="text" placeholder="rating" class = 'rating'>
        <label for="">image</label>
        <input type="text" placeholder="image" class = 'image'>
        <input type="submit">
    </form>
</body>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/app.js"></script>

</html>